TELEGRAM_TOKEN=8689089524:AAEtX_67JvJ6QvT6oVVv0qVITR-k9-KEQfU
TELE_TOKEN_STOCKS=8769936656:AAH80Rv9TNjI-jFzvGvZJWUSUSrd5FEB3Hk
TELE_TOKEN_BN=8190193308:AAGQGzTdKzZoytMF-YRnM_PwtYKY88cAUHs
MATRIX_USER=@princejainik:matrix.org
MATRIX_ROOM_ID_BN=!GsTLxMCMefWuDTeWAd:matrix.org
MATRIX_ROOM_ID=!efMXBVUaBVLmnHUrbq:matrix.org
MATRIX_PASS= Prince@0987654321
MATRIX_HOMESERVER=https://matrix.org
MATRIX_ACCESS_TOKEN=mat_OLLCM4HGKZsDH9YkRjGuPPvaMzBvUX_6YRHn2
KITE_USER_ID=BF1492
KITE_TOTP_SECRET=VXTJLEYFOV26ACPVVY6XJL2IPMIBTCZS
KITE_PASSWORD=Prince@09
KITE_API_SECRET=wjex5ul7w6gqctu6jjejnkaiv6plk53n
KITE_API_KEY=reypokcjhmoxu52o
CHAT_ID_STOCKS=530388484
CHAT_ID_BN=-1003665271298
CHAT_ID=530388484
AUTO_START_SCANNER=true












